  <h3>Blurbs by <%= @user.name %></h3>
  <p class="show_unpublished_link">
      <% if @unpublished_only %>
        <%= link_to "Show all reviews", user_path(@user) %>
      <% else %>
        <%= link_to "Show unpublished reviews only", user_path(@user, unpublished_only: "true") %>
      <% end %>
  </p>
  <% if @reviews.empty? %>
    <p>No reviews yet!</p>
  <% else %>
  <% @reviews.each do |review| %>
  <p><strong><%= review.song.artist %> - <%= review.song.title %></strong>
  <% if review.song.status != "published" %>
    [<%= link_to "Edit", edit_review_path(review.id) %>]
  <% end %>
  </p>
  <p><%=  sanitize review.content %></p>
  <p>[<%= review.score %>]</p>
  <% end %>
  <% end %>
  <hr>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 