<% if current_user %>
<h3>
<div class="subheader">
<div class="welcome">
Logged in as: <%= current_user.name %> 
<% if current_user.writer? %>
(WRITER)
<% elsif current_user.editor? %>
(EDITOR)
<% else %>
(ADMIN)
<% end %>
</div>
<p><% if !current_page?(root_url) %>
  <%= link_to "Home", root_path %>
<% end %>
<% if !current_page?(user_path(current_user)) %>
  <%= link_to "My blurbs", user_path(current_user) %>
<% end %>
<% if !current_page?(page_path(:style)) %>
  <%= link_to "Style guide", page_path(:style) %>
<% end %>
<% if policy(User).index? and !current_page?(users_path) %>
  <%= link_to "Userlist", users_path %>
<% end %>
<% if policy(Review).index? and !current_page?(reviews_path) %>
  <%= link_to "Review log", reviews_path %>
<% end %>
<% if current_user.admin? and !current_page?(admin_index_path) %> 
<%= link_to "Admin tools", admin_index_path %>
<% end %>
</p>
</h3>
</div>
<% end %>