<% if policy(Song).edit? %>
  <h4>
  <%= button_to "Edit song info", edit_song_path(@song.id),  { :method => "get" } %>
  <% if @song.open? %>
    <%= button_to "Close song for editing", song_path(song: { status: "closed" }), 
      { method: :patch, form: { data: { turbo: true, controller: "confirmations", 
        action: "submit->confirmations#blurber_confirmation", confirmations_blurbers_value: @song.current_blurbers } 
      } } 
    %> 
  <% else if @song.closed? %>
    <%= button_to "Reopen song", song_path(song: { status: "open" }), { method: :patch, form: { data: { turbo: true } } } %>  
    <%= form_with url: wp_song_path, method: :post, data: { turbo: true } do |form| %>
	    <div>
          <%= form.label "Schedule post at (GMT):" %>
          <%= form.text_field :post_time,
             data: {
               controller: "flatpickr",
			   enable_time: true,
               flatpickr_date_format: "Y-m-d H:i",
               flatpickr_min_date: Time.zone.now,
			   flatpickr_default_date: Time.zone.now.strftime('%Y-%m-%d %H:%M %p')
            } %>
	    </div>
        <div>
          <%= form.button "Post" %>
        </div>
     <% end %>
	 <div data-controller="clipboard">
       <button data-action="click->clipboard#copy_html" data-clipboard-target="button" data-clipboard-html-param="<%= @song.generate_html %>">Copy post HTML</button>
	 </div>
  <% else %>
    <%= button_to "Reopen song", song_path(song: { status: "open" }), { method: :patch, form: { data: { turbo: true } } } %>    
  <% end %>
  <% end %>  
  </h4>
<% end %>
<h2><%= @song.artist %> - <%= @song.title %></h2> 
<h4><em><%= @song.subhead %></em></h4>
<% if @song.pic.attached? %>
  <%= image_tag @song.pic, class: "song-pic" %>
<% else %>
  <h3>[No picture yet!]</h3>
<% end %>
<% if policy(Song).edit? %>
  <p>Image alt text: <%= @song.alttext ? @song.alttext : @song.artist + " - " +  @song.title %></p>
<% end %>
<h4>
  <% if @song.audio && @song.audio != "" %>
    [<a href="<%= @song.audio %>" target="_blank">Listen</a>]
  <% end %>
  <% if @song.video && @song.video != "" %>
    [<a href="<%= @song.video %>" target="_blank">Video</a>]
  <% end %>
</h4>
<% if policy(Song).edit? %>
  <%= song_scores(@song.score, @song.controversy) %>
<% end %>

<% if @song.reviews.size == 0 %>
  <p>No reviews yet!</p>
<% else %>
  <ul data-controller="sortable">
    <%  @song.reviews.each do |review| %>
        <li data-id ="<%= review.id %>">
	        <%= turbo_frame_tag "review_#{review.id}", target: "_top" do %>
            <strong><a href="<%= review.user.url %>" target="_blank"><%= review.user.name %>:</strong></a> <%= sanitize review.content %>
          <% end %>
		  <div class="review"></div>
          [<%= review.score %>]<br>
          <% if policy(review).edit? && review.can_edit?(current_user.name) %>
			      (<%= link_to "Edit this review", edit_review_path(review), data: { turbo_frame: dom_id(review) } %>)
          <% elsif policy(review).edit? && !review.can_edit?(current_user.name) %>
            (<%= review.current_editor %> is editing)
          <% end %>
          <% if policy(review).destroy? %>
            (<%= link_to "Delete this review", review_path(review), :method => :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>)
          <% end %>
          <% if policy(User).show? %>
            (<%= link_to "All #{review.user.name} blurbs", user_path(review.user) %>)
          <% end %>
        </li>
  <% end %>
  </ul>
<% end %>
 