<%= form_with model: [@review] do |form| %>
  <div>
    <%= form.label :score %><br>
    <%= form.select :score, (0...11) %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>