<h2>Edit <%= @review.user.name %>'s review</h2>
<h3><%= @song.artist %> - <%= @song.title %> 
<% if current_user.writer? %>
 (<%= link_to "Go back", root_path %>) </h3>
<% else %>
 (<%= link_to "Go back", @song %>) </h3>
<% end %>

<%= form_with model: [@review] do |form| %>
  <div>
    <%= form.label :score %><br>
    <%= form.select :score, (0...11) %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>