<h2>Submit review</h2>
<h3><%= @song.artist %> - <%= @song.title %></h3>
<h4>
<% if @song.audio && @song.audio != "" %>
[<a href="<%= @song.audio %>" target="_blank">Listen</a>]
<% end %>
<% if @song.video && @song.video != "" %>
[<a href="<%= @song.video %>" target="_blank">Video</a>]
<% end %>
</h4>

<%= form_with model: [@song, @review] do |form| %>
  <div>
    <%= form.label :score %><br>
    <%= form.select :score, options_for_select(0...11) %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>