<!DOCTYPE html>
<html>
  <head>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js"></script>
    <title>The Singles Blurber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application",  "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
	  <div class="header-top"><h1>The Singles Blurber v 0.3.1 </h1></div>
	</div>
	  <div class="header-bottom"><%= render "shared/banner" %></div>
	<div class="main">
      <p class="notice"><%= notice %></p> 
      <p class="alert"><%= alert %></p> 
    <%= yield %>
	</div>
  </body>
</html>
